#dropdown-content {
    visibility: hidden;
    font-size: 24px;
}

#dropdown-fruit {
    visibility: hidden;
    font-size: 24px;
}

#container {
    display: flex;
    justify-content: center;
}

#mainimage {
    width: 800px;
    height: 200px;
    background-color: lightblue;
}

#firstimg {
    width:800px;
    height:200px;

}

#secondimg {
    display:none;
    width:800px;
    height:200px;
}

#thirdimg {
    display:none;
    width:800px;
    height:200px;
}

#container2 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 5px;
}

.dot {
    border: solid black;
    border-radius: 20px;
    background-color: lightgray;
    width: 10px;
    height:10px;
    outline-color: black;
}

#first {
    background-color: white;
}